# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
*.egg

# Env / secrets
.env
*.tfvars
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Backups
*.sql
*.dump

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
